{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}

{% block body %}
    <div class="container">
        <section class="row padd100top">
            <img src="{{ asset('assets/uploads/main/' ~ trick.mainimage ) }}" alt="Image" class="mainimagedetail">
            <h1 class="trickname">{{ trick.name }}</h1>
            <div class="col-6"> 
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        {%  for iteration in 1..trick.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first == 0) ? 'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {%  for image in trick.images %}
                            <div class="carousel-item {{ (loop.first == 0) ? 'active' : '' }}">
                                <img src="{{ asset('assets/uploads/tricks/') ~ image.name }}" class="d-block w-100" alt="{{ trick.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Précédent</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Suivant</span>
                    </button>
                </div>
            </div>
            
            <div class="col-6">
                <p>{{ trick.description }}</p>
            </div>
            <div class="col-6">
                <ul>
                    <li>{{ trick.categories.name }}</li>
                </ul>
            </div> 
            <div class="row">
                {%  for video in trick.videos %}
                    <div class="col-6">
                        <iframe width="431" height="242" src="{{ video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                {% endfor %}
            </div>
            {% if app.user %}
                
                <div class="col-12">
                    {{ form_start(commentform) }}
                        {{ form_row(commentform.content) }}
                        <button type="submit" class="btn btn-primary">{{ button_label | default('Envoyer mon commentaire') }}</button>
                    {{ form_end(commentform) }}
                </div>

            {% else %}
                <p>Pour commenter 
                <a class="btn btn-primary" href="{{ path('app_login') }}"></i>Se connecter</a></p>

            {% endif %}


            
            <div class="row">
                <h4>Vos commentaires</h4>
                {%  for comment in comments %}
                    
                    <div class="col-12">
                        <p>{{comment.content}}</p>
                    </div>
                {% endfor %}
                
                <a href="{{ path('figures_loadmore_comments', {id: trick.id}) }}" class="btn btn-dark my-3 " id="loadmorecomments">Load More</a>
            
            </div>
            
        
        </section>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ asset('assets/js/loadmorecomments.js') }}" defer> </script>
{% endblock %}
        